# autotools 
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

# libtool
/build/libtool.m4
/build/lt*.m4

config.h
config.h.in

ar-lib

.dirstamp
.deps/
.libs
Makefile.in
Makefile

# compiler output files
*.a
*.la
*.lo
*.o
*.so*

# backup files
*~

# /src/gst-debugger
/src/gst-debugger/gst-debugger
/src/gst-debugger/gst-debugger-resources.c
/src/gst-debugger/gst-debugger-resources.h

# /src/common
/src/common/gstdebugger.pb-c.c
/src/common/gstdebugger.pb-c.h
/src/common/gstdebugger.pb.cc
/src/common/gstdebugger.pb.h
/src/common/libgst-debugger-common.pc
